{% extends "base.html" %}

{% block title %}
  动态详情
{% endblock %}


{% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/detail.css') }}">
{% endblock %}


{% block body %}
  <div class="row" style="margin-top: 20px">
    <div class="col"></div>
    <div class="col-8 shadow p-2 mb-3 bg-white rounded" style="background-color: white">
      <h3 class="title">{{ question.title }}</h3>
      <p class="question_imf">
        <span style="padding-right:10px ">by:{{ question.author.username }}</span>
        <span>{{ question.create_time }}</span>
      </p>
      <hr>
      <p class="q-content">{{ question.content }}</p>
      <hr>
      <h4 class="comment-title">评论（{{ question.answer|length }}）:</h4>
      <form action="{{ url_for('qa.answer',question_id=question.id) }}" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="请输入评论！" name="content">
          <button class="btn btn-outline-secondary" type="submit">提交</button>
        </div>
        <div>
          {% for message in get_flashed_messages() %}
            <div class="form-group">
              <div class="text-danger">{{ message }}</div>
            </div>
          {% endfor %}
        </div>
      </form>
      {% for ans in question.answer %}
        <ul class="comment-group">
          <div class="user-info">
            <span class="username">{{ans.author.username}}</span>
            <span class="create-time">{{ans.create_time}}</span>
          </div>
          <p class="cpomment-content">{{ans.content}}</p>
        </ul>
        <hr>
      {% endfor %}
    </div>
    <div class="col"></div>
  </div>
{% endblock %}